#first-section{
    background: url("../../assets/BACKGROUND_1.png") no-repeat center;
    background-size: cover;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

#first-section-logo{
    width: 40%;
    margin: 10px auto;
}

#image-2025{
    background: url("../../assets/FIREWORKS.png") no-repeat center;
    background-size: cover;
    padding: 30px;
    margin: -20px auto;
    box-sizing: content-box;
    width: 100px;
    height: 50px;
}

#first-section-title{
    color: #fff;
    font-weight: 600;
    line-height: 1.5em;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#first-section-devices-gif{
    width: 90%;
    margin: 20px auto;
}

#first-section > p{
    color: white;
    margin: 0 auto;
    font-size: 1.4em;
    line-height: 1.2em;
    width: 70%;
    text-align: center;
}

#first-section-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 75%;
}

#first-section label{
    font-size: 0.8em;
    color: white;
    font-weight: 500;
}

#first-section label:has(> input[type="radio"]){
    display: flex;
    gap: 10px;
    font-weight: 600;
}

#first-section label input[type="radio"]{
    width: 16px;
    height: 16px;
    appearance: none;
    background-color: white;
}

#first-section label input[type="radio"]:checked{
    background-color: rgb(83, 83, 255);
}

#first-section label:not(:has( > input[type="radio"])){
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#first-section label input[type="text"],
#first-section label input[type="email"],
#first-section label input[type="number"]{
    padding: 5px;
    border: none;
    border-radius: 4px;

    &:focus{
        border: none;
        outline: none;
    }
}

#first-section input[type="submit"]{
    margin: 20px 0;
    background-color: rgba(33,49,78,255);
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    text-wrap: wrap;
    padding: 10px 0;
    border: none;
    border-radius: 16px;
}

.load-2025-animation{
    animation: load-2025 1s forwards;
}

@keyframes load-2025{
    0% {
        scale: 0.5;
    }
    60%{
        scale: 1.1;
    }
    80%{
        scale: 0.8;
    }
    100%{
        scale: 1;
    }
}