.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    opacity: .9;
    transition: .3s;
    z-index: 10;
    padding: 10px 20px;
    margin: 0;
    color: var(--text-dark);
    background-color: var(--background-light);

    &.dark-mode{
        color: var(--text-light);
        background-color: var(--background-dark);
    }

    &.hidden{
        display: none;
    }
}

.input-focused{
    opacity: 1;
}

.header-container > h1 {
    font-size: 1.8em;
}

.header-container > form {
    display: flex;
    gap: 10px;
    width: 30%;
    
    & > input[type="text"]{
        width: 100%;
        height: 2em;
        border-radius: 4px;
        outline: none;
        border: none;
        padding: 0 10px;
    }
    
    & > input[type="submit"], & > button{
        width: 7em;
        height: 2em;
        background-color: var(--background-dark);
        color: var(--text-light);
        font-weight: 600;
        border-radius: 4px;
        cursor: pointer;
        
        &.dark-mode{
            background-color: var(--background-light);
            color: var(--text-dark);
        }
    }
}

.global-conf-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    & .theme-container{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    & > select{
        height: 2em;
        border: none;
        outline: none;
        border-radius: 4px;
        width: 80%;
        cursor: pointer;
        
        & > option{
            cursor: pointer;
        }
        
        &.dark-mode{
            background-color: var(--background-light);
            color: var(--text-dark);
            font-weight: 600;
        }
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin: 0;
        
        h1{
            margin: 0;
        }
    }

    .header-container > form {
        display: grid;
        width: 90%;
        margin: 0;
        place-items: center;

        input[type="text"]{
            width: 100%;
            box-sizing: border-box;
            grid-column: 1/3;
            grid-row: 1;
        }

        input[type="submit"]{
            width: 100%;
            grid-column: 1;
            grid-row: 2;
        }

        button{
            width: 100%;
            grid-column: 2;
            grid-row: 2;
        }
    }
}