:root {
  font-synthesis: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}